@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    border-bottom: 2px solid #d8dee4;
    a {
        margin-bottom: -2px;
        padding: 0px 8px;
        border-bottom: 2px solid transparent;

        &.active {
            border-bottom-color: #fd8c73;
        }
    }
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 0px 20px;
}
